@import "../../node_modules/bootstrap/scss/bootstrap";

/* Navbar collapse correction */

.navbar-collapse.in {
  display: block !important;
}

.collapse.in {
  display: block !important;
}

/* Navbar toggle */
.dropdown{
  width: 5%;
  @include media-breakpoint-down(lg) {
    width: 7.5%;
  }
}

.dropdown-toggle img{
  width: 100%;
}

/* No resize textarea */

textarea {
  height: 200px !important;
  resize:none;
}

/* Change text file form */

.custom-file-label::after {
  content: "Buscar" !important;
}

/* Center some elements */

.podcast-image{
  margin-left: 25%;
}

.alert{
  margin-left: 25%;
}

/* Audio */

audio{
  margin-left: 2.5%;
  width: 95%;
}
