{% extends 'base.html.twig' %}

{% block title %}Mis podcasts{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">Mis podcasts</h2>

        {{ include('includes/podcast-list.html.twig') }}
    </div>

{% endblock %}