{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Podcasts App</h1>
                <p class="lead">Bienvenido a podcasts. Sube tus propios podcasts y compártelos con los demás.</p>
            </div>
        </div>

        <h2 class="text-center">Últimos podcasts</h2>

        {{ include('includes/podcast-list.html.twig') }}
    </div>

{% endblock %}
