{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Edición de usuarios
    {% else %}
        Registro de usuarios
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">
            {% if edit is defined %}
                Edición de usuarios
            {% else %}
                Registro de usuarios
            {% endif %}
        </h2>

        <form action="{{ edit is defined ? path('user_edit', {'id':user.id}) : path('register') }}" class="col-12 col-lg-8 offset-lg-2 mt-5" method="POST" enctype="multipart/form-data">
        {{ form_widget(form) }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary px-3" value="{{ edit is defined ? 'Editar' : 'Entrar' }}">
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
