{% extends 'admin.html.twig' %}

{% block body %}

    {% if users|length > 0 %}

        <div class="container">

            <h2 class="text-center mb-3">Usuarios</h2>

            <table class="table table-hover table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name~' '~user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>

                            <a href="{{ path('user_edit', {'id':user.id}) }}" class=" btn btn-edit">
                                <button class="btn btn-primary">
                                    Editar
                                </button>
                            </a>

                            <a href="{{ path('user_delete', {'id':user.id}) }}" class=" btn btn-delete">
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p class="text-center mt-3">No hay podcasts disponibles aún</p>

    {% endif %}

{% endblock %}