<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin Podcasts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'table_users' %} active {% endif %}" href="{{ path('table_users') }}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'table_podcasts' %} active {% endif %}" href="{{ path('table_podcasts') }}">Podcasts</a>
                    </li>

                    <li class="nav-item d-block d-lg-none">
                        <div class="dropdown-divider"></div>
                    </li>

                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link" href="{{ path('logout') }}">Cerrar sesión</a>
                    </li>

            </ul>

                <div class="dropdown my-2 mr-5 d-none d-lg-block">
                    <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="border rounded-pill" src="{{ app.user.imageFilename ? asset('uploads/profile_images/'~app.user.imageFilename) : 'https://www.labicok.com/wp-content/uploads/2020/09/default-user-image.png' }}" alt="profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                    </div>
                </div>

        </div>
    </nav>

    <p></p>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
