<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
         {% block header %}

             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <a class="navbar-brand" href="{{ app.user ? path('podcasts') : path('login') }}">Podcasts</a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav mr-auto">

                        {% if app.user %}

                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'podcasts' %} active {% endif %}" href="{{ path('podcasts') }}">Inicio</a>
                            </li>
                             <li class="nav-item">
                                 <a class="nav-link {% if app.request.attributes.get('_route') == 'my_podcasts' %} active {% endif %}" href="{{ path('my_podcasts') }}">Mis podcasts</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link {% if app.request.attributes.get('_route') == 'podcast_create' %} active {% endif %}" href="{{ path('podcast_create') }}">Crear podcast</a>
                             </li>

                            <li class="nav-item d-block d-lg-none">
                                <div class="dropdown-divider"></div>
                            </li>

                            <li class="nav-item d-block d-lg-none">
                                <a class="nav-link" href="{{ path('user_edit', {'id':app.user.id}) }}">Editar tu perfil</a>
                            </li>
                            <li class="nav-item d-block d-lg-none">
                                <a class="nav-link" href="{{ path('logout') }}">Cerrar sesión</a>
                            </li>

                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}" href="{{ path('login') }}">Identifícate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'register' %} active {% endif %}" href="{{ path('register') }}">Registro</a>
                            </li>

                        {% endif %}

                     </ul>

                     {% if app.user %}

                     <div class="dropdown my-2 mr-5 d-none d-lg-block">
                         <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="border rounded-pill" src="{{ app.user.imageFilename ? asset('uploads/profile_images/'~app.user.imageFilename) : 'https://www.labicok.com/wp-content/uploads/2020/09/default-user-image.png' }}" alt="profile image">
                         </a>
                         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="{{ path('user_edit', {'id':app.user.id}) }}">Editar tu perfil</a>
                             <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                         </div>
                     </div>

                     {% endif %}

                 </div>
             </nav>

             <p></p>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
